<footer class="main-footer">
  <!-- Default to the left -->
  <strong>Copyright &copy; 2023 <a href="https://portfolio-v2-sable-seven.vercel.app/">Ian Vitor</a>.</strong> All rights reserved.
</footer>