<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/assets/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/adminlte/dist/css/adminlte.min.css">
    @RenderSection("Styles", required: false)
</head>

<body>
    <partial name="_Navbar" />
    <partial name="_Sidebar" />

    @RenderBody()

    <partial name="_Footer" />

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script src="~/assets/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/assets/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/adminlte/dist/js/adminlte.min.js"></script>
    <!--Import JS Fill Modal-->
    <script src="~/assets/js/modal.js"></script>
    <!--- Js to work modal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
