<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form asp-controller="admin" asp-action="updatepost" enctype="multipart/form-data">
          <input name="id" type="text" class="form-control" id="id">
          <div class="mb-3">
            <label for="Title" class="col-form-label">Title:</label>
            <input name="Title" type="text" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="Resume" class="col-form-label">Resume:</label>
            <textarea name="Resume" type="text" class="form-control" id="resume"></textarea>
          </div>
          <div class="mb-3">
            <label for="Content" class="col-form-label">Content:</label>
            <textarea name="Content" type="text" class="form-control" id="content"></textarea>
          </div>
          <div class="mb-3">
            <label for="Image" class="form-label">Image:</label>
            <input name="Image" class="form-control" type="file" id="formFile">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>